.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../../assets/images/bg-coding.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  .masthead p {
    font-size: 1.15rem;
  }
  .masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .masthead h1 {
    font-size: 3.5rem;
  }
}

.my-picture {
  border: 5px black dashed;
}

@media (min-width: 768px) {
  .about-container {
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  .mobile-my-name {
    margin-left: 1rem;
  }
}
