#main-nav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
  }
  #main-nav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #212529;
  }
  #main-nav .nav-link {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
  }
  #main-nav .nav-link:hover, #main-nav .nav-link:active {
    color: #f4623a;
  }
  #main-nav .nav-item .nav-link.active {
    color: #f4623a !important;
  }
  @media (min-width: 992px) {
    #main-nav {
      box-shadow: none;
      background-color: transparent;
    }
    #main-nav .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
    }
    #main-nav .navbar-brand:hover {
      color: #fff;
    }
    #main-nav .nav-link {
      color: rgba(255, 255, 255, 0.7);
      padding: 0 1rem;
    }
    #main-nav .nav-link:hover {
      color: #fff;
    }
    #main-nav .nav-link:last-child {
      padding-right: 0;
    }
    #main-nav.navbar-scrolled {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      background-color: #fff;
    }
    #main-nav.navbar-scrolled .navbar-brand {
      color: #212529;
    }
    #main-nav.navbar-scrolled .navbar-brand:hover {
      color: #f4623a;
    }
    #main-nav.navbar-scrolled .nav-link {
      color: #212529;
    }
    #main-nav.navbar-scrolled .nav-link:hover {
      color: #f4623a;
    }
  }